:root {
  --background: #ffffff;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: linear-gradient(168deg, #F4F9FF 0%, #E0EDFB 100%);
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.title-h1 {
  color: #4A4E71;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; 
}

._text-center {
  text-align: center;
}

._flex {
  display: flex;
}

._fxdc {
  flex-direction: column;
}

._center {
  justify-content: center;
  align-items: center;
}

._mb-md {
  margin-bottom: 20px;
}

._mb-lg {
  margin-bottom: 40px;
}
